{"parent.filenames" ["bract/ring/config.edn"]
 ;; bract.ring config
 "bract.ring.params.normalize.function"  clojure.core/first
 ;; app config
 "dice.point.char"     "*"
 ;; web server config
 "http-kit.opts" {:port 3000}}
